<nav class="bottom-nav">
  <a routerLink="/employee/attendance" routerLinkActive="active">
    <mat-icon>home</mat-icon>
  </a>
  <a routerLink="/employee/timesheet" routerLinkActive="active">
    <mat-icon>schedule</mat-icon>
  </a>
  <button type="button" (click)="openAddons()">
    <mat-icon>add</mat-icon>
  </button>
  <a routerLink="/employee/announcements" routerLinkActive="active">
    <mat-icon>campaign</mat-icon>
  </a>
  <a routerLink="/employee/profile" routerLinkActive="active">
    <mat-icon>ios_share</mat-icon>
  </a>
</nav>
